In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from tqdm import tqdm_notebook
tqdm_notebook().pandas()

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [4]:
os.chdir('C:\\Users\\Linsu Han\\Documents\\[GITHUB]\\facial-feature-detection')
path = "data\\celeba-dataset\\"

In [5]:
data = pd.read_csv(path+'list_attr_celeba.csv')
data.head()

,image_id,5_o_Clock_Shadow,Arched_Eyebrows,Attractive,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,...,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young
0,000001.jpg,-1,1,1,-1,-1,-1,-1,-1,-1,...,-1,1,1,-1,1,-1,1,-1,-1,1
1,000002.jpg,-1,-1,-1,1,-1,-1,-1,1,-1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,1
2,000003.jpg,-1,-1,-1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,1,-1,-1,-1,-1,-1,1
3,000004.jpg,-1,-1,1,-1,-1,-1,-1,-1,-1,...,-1,-1,1,-1,1,-1,1,1,-1,1
4,000005.jpg,-1,1,1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,1,-1,-1,1

In [4]:
# attr = data.columns.values[1:]
# slices = [True if i == 'Attractive'
#           or i == 'High_Cheekbones'
#           or i == 'Male'
#           or i == 'Mouth_Slightly_Open'
#           or i == 'Smiling'
#           or i == 'Wearing_Lipstick'
#           else False for i in attr]
# slices.insert(0, True)
# data1 = data.iloc[:, slices]
# data1.head()

In [5]:
# SPARSE = [1 if i == -5 else -1 for i in data1.iloc[:, 1:].apply(lambda x: sum(x), axis=1)]

# more = pd.DataFrame({'SPARSE': SPARSE})
# data2 = pd.concat([data1, more], axis=1)
# data2.head()

In [6]:
# Not_Attractive = [-i for i in data1.loc[:, 'Attractive']]
# No_High_Cheekbones = [-i for i in data1.loc[:, 'High_Cheekbones']]
# Female = [-i for i in data1.loc[:, 'Male']]
# Mouth_Not_Slightly_Open = [-i for i in data1.loc[:, 'Mouth_Slightly_Open']]
# Not_Smiling = [-i for i in data1.loc[:, 'Smiling']]

# more = pd.DataFrame({'Not_Attractive': Not_Attractive,
#                      'No_High_Cheekbones': No_High_Cheekbones,
#                      'Female': Female,
#                      'Mouth_Not_Slightly_Open': Mouth_Not_Slightly_Open,
#                      'Not_Smiling': Not_Smiling
#                     })

# data2 = pd.concat([data1, more], axis=1)
# data2.head()

In [7]:
def labels_as_string(data, row_array):
    a = data.columns.values[1:]
    b = row_array.iloc[1:]
    c = ' '.join(a[b > 0])
    return c

In [8]:
data0 = data.copy()
data0.loc[:, 'tags'] = data.progress_apply(lambda x: labels_as_string(data, x), axis=1)

HBox(children=(IntProgress(value=0, max=202599), HTML(value='')))

In [10]:
# spliting train/validation
# TODO: very slow, use merge to separate by folder path
# for i in tqdm_notebook(range(len(data))):
#     id = data.loc[i, 'image_id']
#     if (i+1) <= 182637:
#         data.loc[i, 'image_id'] = 'training\\'+id
#     else:
#         data.loc[i, 'image_id'] = 'validation\\'+id


data0['image_id'] =['faces/'+i for i in data0.loc[:,'image_id']]

In [11]:
data0.head()

,image_id,5_o_Clock_Shadow,Arched_Eyebrows,Attractive,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,...,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young,tags
0,faces/000001.jpg,-1,1,1,-1,-1,-1,-1,-1,-1,...,1,1,-1,1,-1,1,-1,-1,1,Arched_Eyebrows Attractive Brown_Hair Heavy_Ma...
1,faces/000002.jpg,-1,-1,-1,1,-1,-1,-1,1,-1,...,1,-1,-1,-1,-1,-1,-1,-1,1,Bags_Under_Eyes Big_Nose Brown_Hair High_Cheek...
2,faces/000003.jpg,-1,-1,-1,-1,-1,-1,1,-1,-1,...,-1,-1,1,-1,-1,-1,-1,-1,1,Big_Lips Blurry Male Narrow_Eyes No_Beard Poin...
3,faces/000004.jpg,-1,-1,1,-1,-1,-1,-1,-1,-1,...,-1,1,-1,1,-1,1,1,-1,1,Attractive No_Beard Pointy_Nose Straight_Hair ...
4,faces/000005.jpg,-1,1,1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,1,-1,-1,1,Arched_Eyebrows Attractive Big_Lips Heavy_Make...

In [13]:
data0.to_csv('Milestone 3\\labels.csv', index=False)